body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding: 20px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/space2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.marsHeader {
  color: white;
  font-size: 2rem;
}

button,
.bookTrip {
  cursor: pointer;
  background: none;
  border: none;
  color: rgb(16, 179, 243);
  margin-left: 30px;
  font-size: 2rem;
}

.optionsDrop select {
  padding: 10px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  background-color: rgb(244, 198, 112);
  font-weight: 500;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  outline: none;
}

.resultsDropdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 81, 31, 0.5);
  padding: 40px;
  border-radius: 20px;
  border: 2px solid black;
}

button.bookTrip {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(244, 198, 112);
  width: 300px;
  margin: 10px;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  color: black;
}

.departure,
.arrival {
  display: flex;
  background-color: rgb(248, 201, 114);
}

.departureText,
.arrivalText {
  color: rgb(159, 187, 199);
}

.departureHead,
.arrivalHead {
  margin: 20px;
}

button.leftArrow {
  position: absolute;
  top: 5px;
  left: 5px;
  text-align: left;
  color: black;
  margin-left: 0;
}

.arrdate {
  position: absolute;
}

.TripItem {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.3em;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marsHeader {
    font-size: 1.2rem;
  }

  .resultsDropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 250px;
    padding: 20px;
  }

  button.bookTrip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
  }

  .optionsDrop select {
    width: 200px;
  }
}