body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/space2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.marsHeader {
  color: white;
  font-size: 2rem;
}

.goMars {
  margin: 0;
}

.logout {
  position: absolute;
  top: 15px;
  right: 10px;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  font-size: 2rem;
  border-radius: 20px;
  color: black;
  margin: 5px;
}

div.hide {
  display: none;
}

.logHide {
  display: block;
}

.logout:hover {
  background-color: rgb(152, 0, 109);
  color: white;
  transition: 0.5s linear;
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout:hover + .hide {
  display: block;
  position: absolute;
  font-style: italic;
  top: 8%;
  right: 15px;
  cursor: pointer;
  color: white;
  font-size: 1.2rem;
}

.optionsDrop select {
  padding: 10px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  font-size: 1.4rem;
  background-color: rgb(244, 198, 112);
  font-weight: 500;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  outline: none;
  cursor: pointer;
}

.optionsDrop select:hover {
  background-color: rgb(152, 0, 109);
  border: 1px solid white;
  color: white;
  padding-top: 10px;
}

.resultsDropdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 81, 31, 0.5);
  padding: 40px;
  border-radius: 20px;
  border: 2px solid black;
}

.resultsDropdown:hover {
  background-color: rgb(194, 39, 45);
  border: 1px solid white;
  color: white;
}

button.bookTrip {
  border: 1px solid black;
  border-radius: 10px;
  background-color: darkorange;
  width: 300px;
  margin: 10px;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px;
  color: white;
  cursor: pointer;
}

button.bookTrip:hover {
  background-color: rgb(237, 27, 37);
  color: white;
  border: 1px solid white;
  padding-top: 10px;
}

.marstoast,
.booktoast {
  font-size: 1rem;
}

.departure,
.arrival {
  display: flex;
  align-items: center;
  margin-left: 15px;
  background-color: rgb(248, 201, 114);
  border: 1px solid black;
}

.departureText,
.arrivalText {
  color: rgb(113, 0, 62);
  text-decoration: underline;
  font-weight: 600;
  font-size: 1.5rem;
}

.departureHead,
.arrivalHead {
  margin: 20px;
}

button.leftArrow {
  margin: 10px;
  position: absolute;
  top: 5px;
  left: 5px;
  color: rgb(60, 1, 33);
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  transition: 0.5s linear;
  padding: 10px;
}

button.leftArrow:hover {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgb(152, 0, 109);
  border-radius: 20%;
}

.arrdate {
  position: absolute;
}

li {
  list-style: none;
  padding: 5px 0;
}

.TripItem {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.3em;
  letter-spacing: 0.5px;
  margin-top: 0.8em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

.TripItem:last-of-type {
  margin-bottom: 1em;
}

.booktripHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.liftOff {
  cursor: pointer;
  padding: 5px 5px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  margin: auto;
  border-radius: 0.3em;
}

.liftOff:hover {
  background-color: rgb(152, 0, 109);
  color: white;
  border: 2px solid white;
}

.noTrips {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 1em;
  color: rgb(152, 0, 109);
  font-size: 3rem;
}

.noTrips:hover {
  color: white;
  background-color: rgba(152, 0, 109, 0.7);
}

.frame > figure > img {
  width: 300px;
  position: absolute;
  left: 700px;
  border-radius: 10%;
  border: 10px solid rgba(152, 0, 109, 0.7);
}

/* .frame > figure {
  left: 700px;
} */

@media only screen and (max-width: 768px) {
  body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .marsHeader {
    font-size: 1.2rem;
  }

  .resultsDropdown {
    padding: 20px;
  }

  button.bookTrip {
    width: 200px;
    font-size: 1rem;
    margin: 7px;
    padding: 7px;
  }

  .optionsDrop select {
    width: 200px;
    font-size: 1rem;
    padding: 7px;
    font-size: 1rem;
    margin: 7px;
  }

  .goMars {
    margin: 20px;
  }

  button.leftArrow {
    margin: 7px;
    font-size: 1rem;
  }

  button.leftArrow:hover .departure,
  .arrival {
    margin-left: 10px;
  }

  .departureText,
  .arrivalText {
    font-size: 1rem;
  }

  .departureHead,
  .arrivalHead {
    margin: 10px;
  }

  .logout {
    margin: 7px;
    top: 10px;
    right: 15px;
    padding: 7px;
    font-size: 1.5rem;
  }

  button.leftArrow:hover {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .noTrips {
    padding: 10px;
    font-size: 2rem;
  }
}

/* .TripItem > button {
  border-radius: 0.3em;
}

.TripItem > button:hover {
  background-color: rgb(152, 0, 109);
  color: white;
} */
