body {
  margin: 0;
  padding: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../public/space1.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.marsTrip {
  font-size: 2rem;
}

.marsHeader {
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

button,
.bookTrip {
  cursor: pointer;
  background: none;
  border: none;
  color: rgb(16, 179, 243);
  margin-left: 30px;
  font-size: 2rem;
}

.optionsDrop select {
  padding: 10px;
  width: 300px;
  flex-direction: column;
  justify-content: center;
  font-size: 1.2rem;
  background-color: rgb(244, 198, 112);
  font-weight: 500;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
  outline: none;
}

.resultsDropdown {
  position: absolute;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  border: 2px solid black;
}

button.bookTrip {
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(244, 198, 112);
  width: 300px;
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 500;
  padding: 10px;
  color: black;
}

.departure,
.arrival {
  display: flex;
  background-color: rgb(248, 201, 114);
}

.departureText,
.arrivalText {
  color: rgb(159, 187, 199);
}

.departureHead,
.arrivalHead {
  margin: 20px;
}

button.leftArrow {
  margin-left: 0;
  color: rgb(42, 174, 226);
  padding: 10px;
}

.arrdate {
  position: absolute;
}

.TripItem {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.3em;
}
