.loginContainer {
  display: flex;
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 10%;
  margin: 20% 15%;
  padding: 30px;
  width: 400px;
  text-align: center;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: larger;
}

.link {
  color: rgb(16, 179, 243);
}

.submit {
  background-color: black;
  border-color: rgb(16, 179, 243);
  border-radius: 10%;
  padding: 7px 10px;
  font-size: 1.5rem;
  margin-top: 20px;
}

@media screen and (min-width: 768px) {
  .loginContainer {
    margin: 7% 39%;
  }
}
