.loginContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 81, 31, 0.5);
  border-radius: 5%;
  padding: 30px;
  width: 400px;
  text-align: center;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 2px solid black;
}

#email,
#password,
#first_name,
#last_name,
.confirmPass {
  padding: 7px 2px;
  width: 200px;
  margin: 10px;
  border-radius: 7px;
  border: 1px solid black;
  outline: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}

.login,
.signUp {
  font-size: 2.5rem;
  margin-top: 0;
}

label p {
  font-size: 1.5rem;
  margin: 0;
}

.dontHaveAcc,
.alreadyAcc {
  font-size: 1.5rem;
}

.link {
  color: rgb(112, 0, 62);
  padding-left: 10px;
  font-size: 1.5rem;
}

.submit {
  background-color: rgb(152, 0, 109);
  border-color: rgb(112, 0, 62);
  border-radius: 10%;
  padding: 7px 10px;
  font-size: 1.5rem;
  margin-top: 20px;
  cursor: pointer;
}

.submit:hover,
.link:hover {
  color: white;
}
